server:
  port: 8082

spring:
  application:
    name: auth-service
  main:
    banner-mode: off

  jpa:
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  datasource:
    username: "dbuser"
    password: "12345"
    url: "jdbc:postgresql://auth-db:5432/authdb"
    driver-class-name: org.postgresql.Driver

jwt:
  secret: "MySuperSecretKeyChangeInProduction12345WhichIsNotLessThen256BitOr64Simvols"
  expiration: 86400000