server:
  port: 8081

spring:
  application:
    name: main-service
  main:
    banner-mode: off

  jpa:
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time-zone: UTC
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  datasource:
    username: "dbuser"
    password: "12345"
    url: "jdbc:postgresql://main-service-db:5432/maindb"
    driver-class-name: org.postgresql.Driver
